/* author  Yang*/
body{
    padding: 0;
    margin:0;
}
.col{
    padding: 0 !important;  /*ignorar*/
}
.menu_img{
    width: 100%;
    background: url(../img/Menu.svg);
    background-size: cover;   /* Cover Ajusta a imagem o mais largamente */ 
}
#menu ul li a{
    font-size:25px;
    font-family: arial;
    color: black;    
}
#menu ul li a:hover {
    color: red;
}
.botao{
    width: 100%;
}
.botao:hover{
    color: rgba(0,0,0,1);
    box-shadow: 0 3px 12px 0 rgba(255,0,0,1);  /*  陰影   */
    transition: .5s;
}
.botao1{
    box-shadow: 0 4px 15px 0 rgba(13,44,200,1);  /*  陰影   */
}
.botao1:hover{
    box-shadow: 0 4px 15px 0 rgba(13,44,200,1);
}
.back:before {
    content: "";  
    position: absolute;
    background-image: linear-gradient(135deg,#6f6f6f,#6f6f6f);
    width: 100%;
    height: 60%;  /*original 60% PC 72%*/
    transform: skewY(-4deg);  /* Girar  */
    margin-top: -78px;
}
.carousel {
    z-index: 50000;
}
@media screen and (max-width: 762px) {    /* Para mobile tela  primeiro parte de text*/
    .back:before{
        height: 800px; /* original 800px  PC 815px */
    }
}
.txt{
    margin-top: 17px;
}
.txtimg{
    margin-top: 30px;
}
h3{
    text-align: center;
}
p{
    font-size: 20px;
}
.text2{
    margin-top: 130px;
}
.text2 img{
    height: 280px;
}
.text3{
    margin-top: 130px;
}
.text3 img{
    height: 300px;
    width: 680px;
}
.back2:before {
    content: "";  
    position: absolute;
    background-image: linear-gradient(135deg,#6f6f6f,#6f6f6f);
    width: 100%;
    height: 62%;  /* original 62% PC 78% */
    transform: skewY(3deg);  /* Girar  */
    margin-top: -60px;
}
@media screen and (max-width: 762px) {    /* Para mobile tela */
    .back2:before{
        height: 941px; /* original 941px  PC 973px */
    }
}
.rodape{
    margin-top: 85px;
}
.rodape h4{
    margin-top: 60px;
}
.rodape .icon{
    font-size: 45px;
    margin-top: 35px;
}
.rodape1{
    width: 100%;
    background: url(../img/rodape.svg);
    background-size: cover;   /* Cover Ajusta a imagem o mais largamente */ 
    background-position-y: bottom;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* Parte Faleconosco.html  */
.iconfor{
    font-size: 20px;
}
.rodapefalecons{
    margin-top: 99px;
}
/* Parte veiculo.html  */
.buttton{
    width: 100%;
}
.buttton:hover{
    color: rgba(0,0,0,1);
    box-shadow: 0 3px 12px 0 rgba(0,0,0,1);  /*  陰影   */
    transition: .5s;
}
/* Parte sobre.html  */
.ttext{
    text-align: justify;
}